# Ignore build and debug folders
**/bin/
**/obj/
**/.vs/

# Ignore NuGet packages
packages/

# Ignore user-specific files
*.user
*.suo
*.userosscache
*.sln.docstates

# Ignore Visual Studio specific files
.vs/

# Ignore temporary files
*.log
*.tmp

# Ignore VS Code settings
.vscode/

# Ignore Rider IDE files
.idea/
